h1{
	color:hotpink;
  }

p{
	color:hotpink; 

 }

h2{
	color:hotpink ;
}

h3{
	color:hotpink ;
}

























































